# 1. Load the Scrapped Data

In [1]:
import pandas as pd

df = pd.read_csv('empresas.csv')
print(df.shape)

(5552, 153)

C:\Users\joana\AppData\Local\Temp\ipykernel_1928\2973681463.py:3: DtypeWarning: Columns (8,9,11,12,23,102) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('empresas.csv')

# 2. Preprocess Data

## Retain the most interesting varaibles for our analysis purposes

In [2]:
df = df[['shortName','country','state','sector','overallRisk','dividendRate','marketCap','enterpriseValue','profitMargins','recommendationKey','totalCash','totalCashPerShare','totalDebt','totalRevenue','revenueGrowth']]
print(df.shape)

(5552, 15)

## Focus on companies from the USA.

In [3]:
df = df[df['country'] == 'United States']
df = df.drop(columns=['country'])
print(df.shape)

(1064, 14)

## Delete redundant data

In [4]:

# delete duplicate rows on 'shortName'
df = df.drop_duplicates(subset='shortName')
# df = df.drop(columns=['ebitda','totalDebt','totalRevenue'])
print(df.shape)
df.head()

(666, 14)

,shortName,state,sector,overallRisk,dividendRate,marketCap,enterpriseValue,profitMargins,recommendationKey,totalCash,totalCashPerShare,totalDebt,totalRevenue,revenueGrowth
0,Apple Inc.,CA,Technology,1.0,1.00,3.441752e+12,3.496468e+12,0.26441,buy,6.180100e+10,4.065,1.013040e+11,3.856030e+11,0.049
1,Microsoft Corporation,WA,Technology,1.0,3.32,3.211891e+12,3.212358e+12,0.35956,buy,7.553100e+10,10.162,9.785200e+10,2.451220e+11,0.152
2,Alphabet Inc.,CA,Communication Services,NaN,0.80,1.997491e+12,1.942402e+12,0.26702,buy,1.007250e+11,8.182,2.871900e+10,3.282840e+11,0.136
4,"Amazon.com, Inc.",WA,Consumer Cyclical,9.0,NaN,2.020718e+12,2.104470e+12,0.07350,buy,8.909200e+10,8.489,1.578420e+11,6.043340e+11,0.101
5,"Tesla, Inc.",TX,Consumer Cyclical,10.0,NaN,8.210863e+11,7.948912e+11,0.12996,hold,3.072000e+10,9.616,1.251500e+10,9.531800e+10,0.023

# 3. Export data

In [5]:
csv_file = 'USACompanies.csv'
df.to_csv(csv_file, index=False)
print('Dataframe saved to', csv_file)

Dataframe saved to USACompanies.csv